<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario clientes</title>
    {% load static %}
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">

</head>
<body >
<div class="container mt-2">
<div class="card">
   <div class="card-header">
      <div class="card-title text-center">
         <h3> Gestion de Clientes </h3>
      </div>django
    </div>
    <div class="card-body">
      <div class="row">
          <div class="col-md-5 mb-3">
              <form action="">
                  <label for="" class="form-label">Nombre</label>
                  <input class="form-control" type="text">
                   <label for="" class="form-label">Direccion</label>
                   <input class="form-control" type="text">
                   <label for="" class="form-label">Telefono</label>
                   <input class="form-control" type="text">
              </form>
          </div>
          <div class="col-md-7 table-responsive">
            <table class="table">
              <thead>
                <tr>

                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                   <td>
                       <button class="btn btn-success">Editar</button>
                       <button class="btn btn-danger">Eliminar</button>
                   </td>
                </tr>
                <tr>

                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>
                       <button class="btn btn-success">Editar</button>
                       <button class="btn btn-danger">Eliminar</button>
                   </td>
                </tr>
                <tr>
                  <td>Dan</td>
                  <td>Larry the Bird</td>
                  <td>@twitter</td>
                  <td>
                       <button class="btn btn-success">Editar</button>
                       <button class="btn btn-danger">Eliminar</button>
                   </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>

    </div>
</div>
</div>

</body>
</html>