{% extends 'nomina_personal/formulario_nomina_emp.html' %}
{% load static %}

{% block controls %}
    <div class="col-md-6">
        <label  for="inputEmail4" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Daniel Vera" disabled=»disabled»>
    </div>
    <div class="col-md-6">

    </div>

    <div class="col-md-4">
        <label for="inputState" class="form-label">Cargo</label>
        <select id="inputState" disabled=»disabled» class="form-select">
            <option selected>Programador</option>
            <option>Programador</option>
            <option>Asistente</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Departamento</label>
        <select id="inputState" disabled=»disabled» class="form-select">
            <option selected>Sistemas</option>
            <option>Sistemas</option>
            <option>Contabilidad</option>
        </select>
    </div>
    <hr>
    <!--<div class="col-md-4">
        <label for="inputState" class="form-label">Mes:</label>
        <select id="inputState" class="form-select">
            <option>Enero</option>
            <option>Febrero</option>
            <option>Marzo</option>
            <option>Abril</option>
            <option>Mayo</option>
            <option>Junio</option>
            <option>Julio</option>
            <option>Agosto</option>
            <option>Septiembre</option>
            <option>Octubre</option>
            <option>Noviembre</option>
            <option>Diciembre</option>
        </select>
    </div>-->
    <div class="col-md-4">
        <label for="inputState" class="form-label">Año:</label>
        <select id="inputState" class="form-select">
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
        </select>
    </div>
    <div>
        <button type="button" class="btn btn-secondary">Buscar</button>
    </div>

    <div class="card-body table-responsive">
            <table class="table table-bordered" id="data">
                <tr>
                    <th scope="col" style="width: 10%;">Periodo</th>
                    <th scope="col" style="width: 10%;">Ingresos</th>
                    <th scope="col" style="width: 10%;">Egresos</th>
                    <th scope="col" style="width: 20%;">Valor a pagar</th>
                    <th scope="col" style="width: 10%;">Estado</th>
                    <th scope="col" style="width: 14%">Acciones</th>
                </tr>
                <tr>
                    <td>Mayo</td>
                    <td align="right">$ 1000.00</td>
                    <td align="right">$ 200.00</td>
                    <td align="right">$ 800.00</td>
                    <td>Pagado</td>
                    <td class="acciones">
                        <a href="#" class="btn btn-primary btn-flat btnTest">
                            📝 Modificar estado
                        </a>
                        <a href="{% url 'consultaempleado' %}" class="btn btn-info btn-flat btnTest">
                            Imprimir
                        </a>
                    </td>
                </tr>
            </table>
        </div>



{% endblock %}