{% extends 'nomina_personal/formulario_nomina_pro.html' %}
{% load static %}

{% block controls %}
    <div class="col-md-6">
        <label  for="inputEmail4" class="form-label">Periodo:</label>
        <input type="text" class="form-control" id="inputEmail4" placeholder="Agosto">
    </div>
    <div
    <input class="col-md-6">
        <label for="inputPassword4" class="form-label">Fecha</label>
        <input type="number" class="form-control" id="inputPassword4" placeholder="16/08/2022">
    </div>
    <div class="col-6">
        <label for="inputAddress" class="form-label">Nombre del empleado:</label>
        <input type="number" class="form-control" id="inputAddress" placeholder="Daniel Vera" disabled=»disabled»>
    </div>
    <div class="col-6">
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Cargo</label>
        <select id="inputState" class="form-select" disabled=»disabled»>
            <option selected>Programador</option>
            <option>Programador</option>
            <option>Asistente</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="inputState" class="form-label">Departamento</label>
        <select id="inputState" class="form-select" disabled=»disabled»>
            <option selected>Sistemas</option>
            <option>Sistemas</option>
            <option>Contabilidad</option>
        </select>
    </div>
    <hr>
    <h3>Rubros</h3>
    <div class="col-6">
        <label for="inputState" class="form-label">Tipo de Rubro</label>
        <select id="inputState" class="form-select">
            <option>Ingreso</option>
            <option>Egreso</option>
        </select>
    </div>
    <div class="col-6">
        <label for="inputAddress" class="form-label">Descripción del rubro:</label>
        <input type="number" class="form-control" id="inputAddress" placeholder="Sueldo base">
    </div>

    <div class="col-6">
        <label for="inputAddress" class="form-label">Valor:</label>
        <input type="number" class="form-control" id="inputAddress" placeholder="$00.00">
    </div>

    <div class="d-grid gap-3 d-md-block">
        <button class="btn btn-success" type="button">Agregar rubro</button>
    </div>

    <hr>
    <div class="col-md-6">
    <h4 align="center">Ingresos</h4>
        <table class="table table-bordered" id="data">
            <tr>
                <td scope="col" style="width: 10%;">Sueldo base</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
            <tr>
                <td scope="col" style="width: 10%;">Sueldo base</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
            <tr>
                <td scope="col" style="width: 10%;">Sueldo base</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
            <tr>
                <td scope="col" style="width: 10%;">Sueldo base</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
            <tr>
                <td scope="col" style="width: 10%;">Total Ingresos:</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
    <h4 align="center">Egresos</h4>
        <table class="table table-bordered" id="data">
            <tr>
                <td scope="col" style="width: 10%;">Sueldo base</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
            <tr>
                <td scope="col" style="width: 10%;">Sueldo base</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
            <tr>
                <td scope="col" style="width: 10%;">Sueldo base</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
            <tr>
                <td scope="col" style="width: 10%;">Sueldo base</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
            <tr>
                <td scope="col" style="width: 10%;">Total Egresos:</td>
                <td scope="col" align="center" style="width: 10%;">$ 500.00</td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-bordered" id="data">
            <td scope="col" style="width: 10%;">Total a pagar</td>
            <td scope="col" align="center" style="width: 10%;" >$ 1000.00</td>
        </table>
    </div>

{% endblock %}
