<nav class="navbar navbar-expand-md navbar-dark bg-secondary border-3 border bottom boder-primary">
  <div class="container-fluid">
    <a href="/admin" class="navbar-brand" >SisAdm</a>
{#      permite mostrar y esconder el menu icon#}
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
      <span class="navbar-toggler-icon"></span>
    </button>
{#     los elementos de la barra del menu navegacion#}
    <div id="MenuNavegacion" class="collapse navbar-collapse" >
{#        elemento de manavegacion#}
      <ul class="navbar-nav ms-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
          <li class="nav-item" ><a class="nav-link active text-nowrap" href="#">User: Admin</a></li>
      </ul>
    </div>
  </div>
</nav>